<body class="index fus-black">
  <div class="jumbotron" id="top">
    <div class="fus-bg"></div>
    <div class="fus-overlay"></div>
    <div class="container">
      <div class="fus-pitch">
        <div class="fus-call-to-action">
          <h1>Evan Clough</h1>
          <h2>telling stories of adventure</h2>
          <ul>
            <li>
              <%= fa_icon "camera-retro" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
