<body class="index fus-black">
  <div class="jumbotron" id="top">
    <div class="fus-bg"></div>
    <div class="fus-overlay"></div>
    <div class="container">
      <div class="fus-pitch">
        <div class="fus-call-to-action">
          <h1>Evan Clough</h1>
          <h2>making things to tell stories</h2>
        </div>
      </div>
    </div>
  </div>
</body>
