<div class="fus-overlay" id="pages"></div>
<div class="jumbotron" id="top">
  <div class="container">
    <div class="fus-pitch">
      <div class="fus-call-to-action">
        <h1>Evan Clough</h1>
        <h2>photographic storyteller</h2>

        <div class="fus-btns">
          <%= link_to "view gallery", "/gallery", class: "btn fus-btn-white" %>
        </div>
      </div>
    </div>
  </div>
</div>
