<div class="fus-overlay" id="images"></div>

<div class="row">
  <div class="gallery">
    <!-- <ul class="img-list slider-list"> -->
      <% @images.each do |image| %>
        <div class="img img-md img-slider">
          <%= link_to image_tag(image.asset.url(:small)), image %>
        </div>
      <% end %>
    <!-- </ul> -->
  </div>
</div>
